[bug] rrule.rrule with monthly freq is ignoring some months

1. A minimal, reproducible example - a small, self-contained script that can reproduce the behavior is the best way to get your bug fixed.
```python
from datetime import datetime
from dateutil import rrule

occurrences = rrule.rrule(freq=rrule.MONTHLY, dtstart=datetime.strptime("2020-01-31", "%Y-%m-%d"))
for i in range(5):
    print(occurrences[i].isoformat())

```

Output:
```
2020-01-31T00:00:00
2020-03-31T00:00:00
2020-05-31T00:00:00
2020-07-31T00:00:00
2020-08-31T00:00:00
```

2. The platform and versions of everything involved, at a minimum please include operating system, python version and dateutil version. Instructions on getting your versions:

```bash
# Running inside docker: FROM python:3.8-slim

app@90d62953cf79:/app$ python -c 'import dateutil; print(dateutil.__version__)'
2.8.1
app@90d62953cf79:/app$ python --version
Python 3.8.5
```

3. A description of the problem - what is happening and what should happen.

When I create a rrule with freq=monthly I expect to see an occurrence at least once per month, if I use the day 31, rrule will ignore months that does no have 31 days, e.g. Feb. or Apr

This is what I would expect:

Output:
```
2020-01-31T00:00:00
2020-02-29T00:00:00
2020-03-31T00:00:00
2020-04-30T00:00:00
2020-05-31T00:00:00
```

Other examples:

The day 1, works as expected:

```
2020-01-01T00:00:00
2020-02-01T00:00:00
2020-03-01T00:00:00
2020-04-01T00:00:00
2020-05-01T00:00:00
```

The day 30, ignores only Feb:

```
2020-01-30T00:00:00
2020-03-30T00:00:00
2020-04-30T00:00:00
2020-05-30T00:00:00
2020-06-30T00:00:00
```


Thank you for your detailed report. Unfortunately, this the desired behavior as described in RFC 2445 and RFC5545. I think #149 was the first place we reported this.

There is an open bug to add support for the `skip` option and other features of RFC 5545 and RFC 7529 to `rrule` (see #285). Someone started the implementation in #522, but it seems that effort has stalled.

I think for most common use cases, there are easy enough workarounds. If you want the last day of the month, you can use `bymonth=-1`. I think if you want "the 30th or the last day of the month if there are fewer than 30 days in the month", (and you don't need other features of `rrule` like `between`, or more complicated modifications to the rules), possibly the easiest thing to do is to use `dateutil.relativedelta.relativedelta`, like so (obviously modify this to your needs):

```python
import itertools
from dateutil.relativedelta import relativedelta

def monthly_rule(start_day):
    for n_months in itertools.count():
        yield start_day + relativedelta(months=n_months)
```

I understand, I think the `skip` option would be great, for my use case, day 30 or 31 is going to be selected for the end user.