Default DTSTART in rrule lacks a timezone

Since 2.7, the following code fails in our project:

```python
rule = rrule.rrulestr("RRULE:FREQ=WEEKLY;WKST=MO;BYDAY=MO,TU;UNTIL=20180331T200000Z")
```

This is the error we see:

```python-traceback
ValueError: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware
```

The comment around the exception mentions this:

```python
# According to RFC5545 Section 3.3.10:
# https://tools.ietf.org/html/rfc5545#section-3.3.10
#
# > If the "DTSTART" property is specified as a date with UTC
# > time or a date with local time and time zone reference,
# > then the UNTIL rule part MUST be specified as a date with
# > UTC time.
```

We however do not specify the DTSTART property. Dateutil defaults to the current date in this case. However, said default does not have a timezone. Because we do however pass a timezone with our UNTIL property, we run into this exception.

Now I think you can make the argument that this is really our problem and it's probably best anyway to be specific with the DTSTART property (which is how we're going to work around this problem). However, I think it might also make sense to apply the timezone of the UNTIL property when the DTSTART date is created by dateutil.

This is related to #620 and #634.


Hm. It is unclear to me whether the RFC requires DTSTART or not. I think it *is* required for some iCalendar components (e.g. VEVENT), but that the RRULE itself can take DTSTART from its parent element.

If we're allowing the generation of arbitrary RRULE elements without `dtstart` and filling in the current time as `dtstart`, then I think it's fair to generate a `dtstart` in the same time zone that `until` specifies.

FYI - It appears the Radicale project can't handle files provided by Google or Thunderbird right now, if the UNTIL property is set.  This appears to be directly related to this issue, but I'm no expert.

I've been looking at this issue over the past few days. From what I've read in the RFC, I see nothing the prohibits adjusting the time zone for an automatically generated DTSTART to match that of UNTIL when DTSTART is not explicitly specified.

I believe I have come up with a working change to the implementation, but am running into an interesting challenge when writing a test case. Ideally, the test case should compare the behavior of a rule when DTSTART is explicitly specified to the results of another rrule where DTSTART is not specified. Writing a test case like that would involve DTSTARTs being generated using datetime.now([tz]) at two different times, in which case there may enough of a difference between the two DTSTARTs to cause the rrules to have different results. Using rrules with larger frequency would minimize the chance of the problem occurring, but not completely eliminate it. Maybe I am overthinking the problem, but I figured that I would bring it up before going any further.

There is of course the option of writing a test case that is less thorough but does not have the potential to fail in that way.

This is why we employ [freezegun](https://github.com/spulec/freezegun). [Example use here](https://github.com/dateutil/dateutil/blob/master/dateutil/test/test_utils.py#L18).

You can do something like this:
```python
from freezegun import freeze_time

@freeze_time(datetime(2018, 4, 7, 12, 30))
def test_dtstart_timezone:
    <test goes here>
```

Use pytest style tests instead of the unittest style tests that most of the test suite uses. We're trying to transition over to pytest.

Thank you for the advice. I have created a working test using freezegun and pytest.

Before I submit a pull request, I want to point out that the error message given for the original example appears to be misleading.

>ValueError: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware

In the original example, the time zone of UNTIL is actually specified in UTC.

`rule = rrule.rrulestr("RRULE:FREQ=WEEKLY;WKST=MO;BYDAY=MO,TU;UNTIL=20180331T200000Z")`

I believe the original example is failing for a different reason entirely, which is the following sentence in RFC 5545 Section 3.3.10.

>Furthermore, if the"DTSTART" property is specified as a date with local time, then the UNTIL rule part MUST also be specified as a date with localtime.

That condition is enforced by the line 452 in rrule.py.

`if (self._dtstart.tzinfo is not None) != (self._until.tzinfo is not None):`

In fact, it appears the condition described in the error message is not properly enforced. In the version of the module without the changes I made, I can successfully create the rule:

`>>> rule = rrule.rrulestr("""DTSTART:20180306T053600-05`
`... RRULE:FREQ=WEEKLY;WKST=MO;BYDAY=MO,TU;UNTIL=20180331T200000-05`
`... """)`

Here, DTSTART is timezone aware but UNTIL is not in UTC.

@absreim I am being deliberately lax with the RFC because having `UNTIL` be a fixed offset from UTC is functionally equivalent to being specified in UTC, and being pedantic could break existing uses out there.

I wouldn't let that block making a PR. We can always discuss this on the PR review, or discuss it separately.

I'm not sure if it's a better idea to keep the "prescriptive" wording of the error or not, since the error message describes what the RFC says you need to do, even though the *actual* conditions for success are somewhat more lax. Do we really want to be encouraging people to be more lax?