rrule byweekno for week 1 in 2023 creates multiple dates 

```
rule = {
    "dtstart": datetime.date(2023, 1, 1),
    "until": datetime.date(2023, 12, 31),
    "freq": rrule.WEEKLY,
    "bysetpos": 1,
    "byweekday": rrule.SU,
    "byweekno": [1],
    "wkst": rrule.SU,
}

[d.date() for d in rrule.rrule(**rule)]
# prints [datetime.date(2023, 1, 1), datetime.date(2023, 12, 31)]
```
When i give a single week number to rrule, i wouldn't expect multiple dates to be created. 

It's probably due to december 31st being week 1 of 2024, but that year is not in the dstart-until range specified.

This is a sort of interesting case, but I don't think it's a bug. The way RRULEs work is that when the rule specifies a component that is _greater than or equal to the frequency_, it is a constraint, reducing the frequency of the rule. I think `byweekno` is either greater than or equal to "week", since it doesn't make sense to say, "Do this every week and also whenever the week number is 1", so you're basically telling it to generate dates weekly, and filtering out all the ones where the week number isn't 1.

In the ISO 8601 calendar, the "ISO year" and "ISO week number" do not necessarily correspond to the same year boundaries as the Gregorian calendar, which is the case for 2023 and 2024 — Week 1 of 2023 starts on 2023-01-02, and Week 1 of 2024 starts on 2023-12-31. Since those are both between your start and end dates (UNTIL is inclusive), it seems like this is doing the "right thing". I believe `bysetpos` is doing no work here because the frequency is WEEKLY, so there's only 1 date per week anyway.

Interestingly, though, we probably shouldn't be accepting the rule you've specified at all, since [RFC 5545 §3.3.10](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.10) has this to say:

> The BYWEEKNO rule part specifies a COMMA-separated list of
      ordinals specifying weeks of the year.  Valid values are 1 to 53
      or -53 to -1.  This corresponds to weeks according to week
      numbering as defined in [[ISO.8601.2004](https://datatracker.ietf.org/doc/html/rfc5545#ref-ISO.8601.2004)].  A week is defined as a
      seven day period, starting on the day of the week defined to be
      the week start (see WKST).  Week number one of the calendar year
      is the first week that contains at least four (4) days in that
      calendar year.  This rule part MUST NOT be used when the FREQ rule
      part is set to anything other than YEARLY.  For example, 3
      represents the third week of the year.

It seems like you can fix your rule by using `YEARLY` anyway. The real question is whether we should continue to allow this violation of the spec, add a warning, or even deprecate and eventually remove the ability to specify `byweekno` for a rule that doesn't have a `YEARLY` frequency.