Update link to RFC 2445 / RFC 5545

Currently we link to the `.txt` version of RFC 2445, but the rich text version has better links and navigation.

I would probably change the link in [`rrule`](https://dateutil.readthedocs.io/en/latest/rrule.html) to link to https://tools.ietf.org/html/rfc5545 instead. Technically this is not quite right, since we're *mostly* based on RFC 2445, but since I'm intending to eventually support RFC 5545, we can accept that all deficiencies in our implementation are bugs, not intended behavior.

A few other places to update to refer to RFC 5545 instead of RFC 2445:
- [tz](https://github.com/dateutil/dateutil/blob/64c6c85ded28dea8a617b91258aabf269d1ca34a/dateutil/tz/tz.py#L1153)
- [rrule test](https://github.com/dateutil/dateutil/blob/2f3a1606d1021a0d673bb1c8f37dd319a6747a2a/dateutil/test/test_rrule.py#L2366)
- [rrule](https://github.com/dateutil/dateutil/blob/2f3a1606d1021a0d673bb1c8f37dd319a6747a2a/dateutil/rrule.py) Do a search and replace for 2445 -> 5545. RFC 2445 Sec. 4.3.10 is replaced by RFC 5545 [Sec. 3.3.10](https://tools.ietf.org/html/rfc5545#section-3.3.10)

To do list:
- [x] Update link to https://tools.ietf.org/html/rfc5545
- [x] Update references to 2445 to refer to 5545
- [ ] Update references to Sec. 4.3.10 to refer to Sec 3.3.10

Fixed in #555.